.catalog-page__results-area {
  flex-basis: 80%;
}

.results-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  @include adaptiveValue("gap", 24, 10, 1300, 1101);
  @include adaptiveValue("gap", 24, 10, 1100, 801);
  @include adaptiveValue("gap", 24, 10, 800, 600);
  flex-wrap: wrap;
}
