.catalog-page__results-area {
  flex-basis: 80%;
}

.results-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  @media (max-width: ($desktopBreakPoint + px)) {
    gap: 20px;
  }

  @media (max-width: (($desktopBreakPoint + $tabletBreakPoint)/2 + px)) {
    gap: 15px;
  }

  @media (max-width: ($tabletBreakPoint + px)) {
    gap: 20px;
  }

  @media (max-width: ($mobileBreakPoint + px)) {
    padding: 0 20px;
    flex-direction: column;
    gap: 0;
  }
  
}
