.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.catalog-page {
  padding: 64px 0;
} 

.catalog-page__container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
