.catalog-page {
  padding: 64px 0;
} 

.catalog-page__container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;

  @media (max-width: ($mobileBreakPoint + px)) {
    flex-direction: column;
    row-gap: 15px;
  }
}
