* {
  padding: 0;
  margin: 0;
}

// span,
// a {
//   display: inline-block;
// }

/* box sizing */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* give standard styling to all ul and il that have a class attribute
 Removing padding */
ul,
ol {
  list-style: none;
}

/* a elements, reset to default styles */
a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:focus,
:active {
  outline: none;
}

/* Inheriting fonts for inputs and buttons */
button {
  cursor: pointer;
}

.container,
[class*="__container"] {
  width: 100%;
  height: 100%;
  max-width: $containerWidth + px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: ($mobileBreakPoint + px)) {
    padding: 0;
  }
}

